html,body
{
    height: 100%;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.show {display:block;}
.bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    min-height: 7vh;
    max-height: 7vh;
    background: linear-gradient(to bottom,rgb(0, 0, 0) 0%,rgb(0, 0, 0) 100%);
    overflow: hidden;
    opacity: 0.8;
}
.top {
    transform: translate(-50%, -50%);
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1vh;
    line-height: 3;
    font-weight: 400;
    letter-spacing: -.01em;
    opacity: 1;
    color:black;
}
#ab:hover {
    cursor: pointer;
}
#re:hover {
    cursor: pointer;
}
#co:hover {
    cursor: pointer;
}
#add {
    position: absolute;
    top: 0vh;
    right: 0;
    left: 0;
    z-index: 1000;
    min-height: 20vh;
    max-height: 20vh;
    background: rgba(242,242,242,0.7);
    overflow: hidden;
    padding: 5vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
}
#adds {
    position: absolute;
    top: 7vh;
    right: 0;
    left: 0;
    z-index: 1000;
    min-height: 20vh;
    max-height: 20vh;
    background: rgba(242,242,242,0.7);
    overflow: hidden;
    padding: 5vh;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    opacity: 0.9;
    animation: run 1s;
}
@-webkit-keyframes run {
  0% {
    left: 0;
    width: 0;
  }
  100% {
    width: 100%;
  }
}
#im {
    position: absolute;
    top: 7vh;
    right: 0;
    left: 0;
    z-index: 10;
    min-height: 54vh;
    max-height: 54vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
}
.bor {
    position: absolute;
    top: 56vh;
    right: 0;
    left: 0;
    z-index: 100;
    min-height: 10vh;
    max-height: 10vh;
    background: linear-gradient(to bottom, rgba(32, 64, 96, 0) 0%, rgba(32, 64, 96, 1) 50%,rgba(0, 0, 0, 1));
    text-align: center;
}
.bor2 {
    position: absolute;
    top: 66vh;
    right: 0;
    left: 0;
    z-index: 100;
    min-height: 34vh;
    max-height: 34vh;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(32, 64, 96) 15%,rgb(32, 64, 96) 100%);
    text-align: center;
}
.bor p {
    line-height: 0px;
    font-size: 3vh;
    display: inline-block;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 0;
    padding-bottom: 0;
    color: rgb(255, 255, 255);
    z-index: 1000;
}
.bor p:hover {
    cursor: pointer;
}
#o1 {
    opacity: 0.3;
}
#o1:after {
    content: '';
}
#o2 {
    opacity: 0.3;
}
#o2:after {
    content: '';
}
#o3 {
    opacity: 0.3;
}
#o3:after {
    content: '';
}

.bor2 h1 {
    font-size: 4vw;
    text-decoration: none;
    color: #fff;
    line-height: 30vh;
}


@media only screen and (max-width: 1668px) {
    #add {
        position: absolute;
        top: 7vh;
        right: 0;
        left: 0;
        z-index: 100;
        min-height: 20vh;
        max-height: 20vh;
        background: rgba(242,242,242,0.7);
        overflow: hidden;
        padding: 5vh;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    #adds {
        position: absolute;
        top: 7vh;
        right: 0;
        left: 0;
        z-index: 100;
        min-height: 20vh;
        max-height: 20vh;
        background: rgba(242,242,242,0.7);
        overflow: hidden;
        padding: 5vh;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    
}
